*.class
*.jar
*.war
*.ear
*.log
*.pid

target/
!target/maven-status/
!target/maven-archiver/
!target/allure-results/
!target/site/
!target/site/allure-maven-plugin/

.idea/
*.iml
*.iws
*.ipr
.vscode/
.classpath
.project
.settings/

.DS_Store
Thumbs.db

logs/