### Java ###
*.class
*.jar
*.war
*.ear
*.log
*.pid

### Maven ###
target/
!target/maven-status/
!target/maven-archiver/

### Allure Reports (если хотите пушить) ###
# Игнорируем все в target, кроме Allure
target/
!target/allure-results/
!target/site/

### IDE ###
.idea/
*.iml
*.iws
*.ipr
.vscode/
.classpath
.project
.settings/

### OS ###
.DS_Store
Thumbs.db

### Logs ###
logs/
*.log